{
  "project_info": {
    "project_number": "123456789",
    "firebase_url": "https://APP_NAME.firebaseio.com",
    "project_id": "PROJECT_NAME",
    "storage_bucket": "APP_NAME.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "12345675432",
        "android_client_info": {
          "package_name": "APP_PACKAGE_NAME"
        }
      },
      "oauth_client": [
        {
          "client_id": "CLIENT_ID",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "KEY"
        }
      ],
      "services": {
        "analytics_service": {
          "status": 1
        },
        "appinvite_service": {
          "status": 1,
          "other_platform_oauth_client": []
        },
        "ads_service": {
          "status": 2
        }
      }
    }
  ],
  "configuration_version": "1"
}